body{
    margin: 0px 0px 0px 0px;
}

.background-img{
    width: 100%;
    height: auto;
    margin-top: -14%;
    z-index: 20;
    position: absolute;
}
.element{
	position: relative;
	z-index: 150;
}

.profile-pic{
    height: 150px;
    width: 200px;
    border-radius: 10%;
}

.intro{
    font-family: 'Droid Sans', sans-serif;
    color: azure;
    font-size: 36px;
}
.section{
    position: relative;
}
.red-heart{
    color: greenyellow;
    text-shadow: #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px,
    #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px;
    animation-iteration-count: 100000;
}
.blue-heart{
    color: #15f4ee;
    text-shadow: #fff  0px 0px 1px,   #fff  0px 0px 1px,   #fff  0px 0px 1px,
    #fff  0px 0px 1px,   #fff  0px 0px 1px,   #fff  0px 0px 1px;
    animation-iteration-count: 100000;
}
.down-glyphicon{
    font-size: 40px;
    color: white;
}
.downButton{
    position : absolute;
    bottom : 0;
}
.delay-1{
    animation-delay: .25s;
}
.delay-2{
    animation-delay: .5s;
}
.delay-3{
    animation-delay: .75s;
}
.highlight1{
    color: #00ff74;
}
.highlight2{
     color: #00ff74;
 }
@media only screen and (max-device-width : 600px)
{
    body
    {
        margin: 0px 0px 0px 0px;
        font-size: 23px;
    }
}
.downControl{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.about{
    margin: 0px 0px 0px 0px;

}
.cursiveFont{
    font-family: 'Droid Sans', sans-serif;
    font-size: 25px;
    color: #fff;
}
.highlightText{
    text-shadow: #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px,
    #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px;
}
.centerText{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a, a:hover, a:active, a:visited{
    color: white;
    text-shadow: #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px,
    #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px;
}
.highlightText:visited{
    color: white;
    text-shadow: #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px,
    #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px;
}
.highlightText:hover{
    color: black;
    text-shadow: #fff  0px 0px 1px,   #fff  0px 0px 1px,   #fff  0px 0px 1px,
    #fff  0px 0px 1px,   #fff  0px 0px 1px,   #fff  0px 0px 1px;
}
.francoisFont{
    font-family: 'Francois One', sans-serif;
}
.clipart{
    height: 100px;
    width: 100px;
}
.mediumFont{
    font-size: 22px;
}
.blackWhiteText{
    color: black;
    text-shadow: #fff  0px 0px 1px,   #fff  0px 0px 1px,   #fff  0px 0px 1px,
    #fff  0px 0px 1px,   #fff  0px 0px 1px,   #fff  0px 0px 1px;
}
.whiteBlackText{
    color: white;
    text-shadow: #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px,
    #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px;
}
.greenBlackText{
    color: darkblue;
    text-shadow: greenyellow  0px 0px 1px,   greenyellow  0px 0px 1px,   greenyellow  0px 0px 1px,
    greenyellow  0px 0px 1px,   greenyellow  0px 0px 1px,   greenyellow  0px 0px 1px;
}
.clipart1{
    height: 80px;
    width: 80px;
}