body{
    margin: 0px 0px 0px 0px;
}

.background-img{
    width: 100%;
    height: auto;
    margin-top: -14%;
    z-index: 20;
    position: absolute;
}
.element{
	position: relative;
	z-index: 150;
}

.profile-pic{
    height: 150px;
    width: 200px;
    border-radius: 10%;
}

.intro{
    font-family: 'Droid Sans', sans-serif;
    color: black;
    font-size: 36px;
}
.section{
    position: relative;
    height: 100%;
}
.yellow-heart{
    color: greenyellow;
    text-shadow: #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px,
    #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px;
    animation-iteration-count: 100000;
}
.red-heart{
    color: red;
    text-shadow: #fff  0px 0px 1px,   #fff  0px 0px 1px,   #fff  0px 0px 1px,
    #fff  0px 0px 1px,   #fff  0px 0px 1px,   #fff  0px 0px 1px;
    animation-iteration-count: 100000;
}

.delay-1{
    animation-delay: .25s;
}
.delay-2{
    animation-delay: .5s;
}
.delay-3{
    animation-delay: .75s;
}
.highlight1{
    color: #00ff74;
}
.highlight2{
     color: #00ff74;
 }

.about{
    margin: 0px 0px 0px 0px;

}
.cursiveFont{
    font-family: 'Droid Sans', sans-serif;
    font-size: 25px;
    color: #000;
}
.highlightText{
    color: black;
    /*text-shadow: #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px,*/
    /*#000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px;*/
}
.centerText{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a, a:hover, a:active, a:visited{
    color: black !important;
}

.francoisFont{
    font-family: 'Francois One', sans-serif;
}
.clipart{
    height: 100px;
    width: 100px;
}
.mediumFont{
    font-size: 20px;
}

/*.whiteBlackText{*/
    /*color: white;*/
    /*text-shadow: #000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px,*/
    /*#000  0px 0px 1px,   #000  0px 0px 1px,   #000  0px 0px 1px;*/
/*}*/
/*.greenBlackText{*/
    /*color: #2c3650;*/
    /*text-shadow: #fff  0px 0px 1px,   #fff  0px 0px 1px,   #fff  0px 0px 1px,*/
    /*#fff  0px 0px 1px,   #fff  0px 0px 1px,   #fff  0px 0px 1px;*/
/*}*/
.clipart1{
    height: 80px;
    width: 80px;
}
.whiteText{
    color: white;
}
.projects-list{
    margin: 2rem 3rem 0rem 0rem;
}
.card{
    margin: 1rem 2rem 2rem 2rem;
    background: #ffffff;
    border-color: #00ff74;
}
.card-text{
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #000;
}
.card-title{
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    color: #000;
    border-radius: 8px;
}
.btn-primary{
    background-color: azure;
}
.blackWhiteText{
    color: black;
}
.card:hover{
    background-color: #00ff74;
    transition: background-color 0.5s linear;
}

.btn-primary:hover{
    background-color: azure;
    transition: background-color 0.5s linear;
}

.fp-tooltip{
    font-size: 16px !important;
    color: white !important;
    text-shadow: blue  0px 0px 0.5px,   blue  0px 0px 0.5px,   blue  0px 0px 0.5px,
    blue  0px 0px 0.5px,   blue  0px 0px 0.5px,   blue  0px 0px 0.5px !important;
}
.margin-five{
    margin-top: 5%;
}
.margin-three{
    margin-top: 3%;
}
.btn-success{
    background-color: #fff;
    color: black;
}
.btn-success a{
    color: black !important;
}
.btn-success:hover{
    background-color: azure;
    color: black;
    transition: background-color 0.5s linear;
}
.fa-3x{

    margin: 10px 10px 10px 10px;
    color: white;
}
.fa-linkedin:hover{

    color: #007bb5;
    transition: color 0.5s linear;
}
.fa-facebook:hover{

    color: #3b5998;
    transition: color 0.5s linear;
}
.fa-github:hover{
    color: #000000;

    transition: color 0.5s linear;
}
.fa-twitter:hover{

    color: #55acee;
    transition: color 0.5s linear;

}
.fa-quora:hover{

    color: #a62100;
    transition: color 0.5s linear;
}
.otherlinks{
    color: black !important;


}
.otherlinks:hover{
    color: black !important;
}
.socialLinks{
    color: transparent !important;
}

.socialLinks:hover{
    color: transparent !important;
}
.fp-responsive #mySection,
.fp-responsive #mySection .fp-slide,
.fp-responsive #mySection .fp-tableCell{
    height: auto !important;
}
.section{
    height: 100% !important;
}
